/**面板组之间的分割线*/
.split-line{
    background-color: #282828;
}

/**面板标题栏*/
.title{
    height: 25px;
    display: flex;
    position: absolute;
    background-color: #3b3b3b;
    border-bottom: 1px solid #282828;
    box-sizing: border-box;
}
/**面板标题区**/
.title-item-area{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: calc(100% + 1px);
}
/**面板工具栏区**/
.title-tools-area{
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
/**面板标题栏标题项*/
.title-item{
    border-right: 1px solid #282828;
    background-color: #3b3b3b;
    display: flex;
    align-items: center;
    overflow:hidden;
    padding: 0px 6px;
}
/**面板标题图标*/
.title-icon{
    margin-right: 6px;
    flex-grow: 1;
    pointer-events:none;
    align-self: center;
}
/**面板标题栏标题项：焦点*/
.title-item.focus{
    background-color: #505050;
    border-bottom: 1px solid #505050;
}
/**面板标题栏标题项：选中*/
.title-item.selected{
    background-color: #444444;
    border-bottom: 1px solid #444444;
}

/**面板标题栏标题字体*/
.title-font{
    line-height: 12px;
    font-size: 12px;
    color:#888888;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/**面板标题栏标题字体：选中*/
.title-font.selected{
    color:#f0f0f0
}
/**面板标题关闭按钮*/
.title-closebtn{
    flex-shrink: 0;
    margin-left: 3px;
    width: 20px;
    height: 100%;
    cursor: pointer;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='3 3 16 16'%3E%3Cpath fill='%23c0c0c0' d='M12.597 11.042l2.803 2.803-1.556 1.555-2.802-2.802L8.239 15.4l-1.556-1.555 2.802-2.803-2.802-2.803 1.555-1.556 2.804 2.803 2.803-2.803L15.4 8.239z'/%3E%3C/svg%3E") 50% no-repeat;
}

/**面板*/
.panel{
    position: absolute;
    overflow: hidden;
    outline: none;
    background:#3b3b3b;
    border: 2px solid #444444;
    box-sizing: border-box;
}
/**面板：焦点*/
.panel.focus{
    border: 2px solid #505050;
}

/**拖拽标志*/
.drag-element{
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    transition: linear 0.08s;
    background: rgba(0,0,0,0.1);
    border: 2px solid rgba(0, 184, 255, 0.26)
}